{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="get">
        Valor: <input type="number" name="value">
		Latitud: <input type="number" name="latitude">
		Longitud: <input type="number" name="length">
		Terreno: <input list="terrains" name="terrain">
		<datalist id="terrains">
		  <option value="Montañoso">
		  <option value="Planicie">
		</datalist>
        <button type="submit">Adicionar</button>
    </form>
    {% for entry in entries %}
    <ul class="list-group">
        <li class="list-group-item">Luminosidad ({{entry.type}}) = {{entry.value}}</li>
		<li class="list-group-item">Latitud = {{entry.latitude}}</li>
		<li class="list-group-item">Longitud = {{entry.length}}</li>
		<li class="list-group-item">Terreno = {{entry.terrain}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}